
<div class="p-3">
    <!-- <div class="card">
        <div class="card-body">
            <div class="card-body">
                <input class="p-1" type="text" [(ngModel)]="keyword">
                <button (click)="searchProduct()" class="btn btn-outline-success ms-1">Search
                    <i class="bi bi-search"></i>
                </button>
            </div> -->
            <h2 class='mt-4' style="font-weight:bold;text-align: center; "><i class="bi bi-person-fill"></i> Collaborateurs</h2>
            <table class="table table-dark table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tache</th>
                        <th scope="col">Date Debut</th>
                        <th scope="col">Date Fin</th>
                        <th scope="col">State</th>
                        <th *ngIf="authService.hasRole('ADMIN')" scope="col">Update</th>
                        <th *ngIf="authService.hasRole('ADMIN')" scope="col">Delete</th>
                    </tr>
                </thead>
           
                <tbody>
                    <tr *ngFor="let coll of collaborateurs; let i=index">
                        <td>{{coll.id}}</td>
                        <td>{{coll.name}}</td>
                        <td>{{coll.email}}</td>
                        <td>{{getTachebyIdColl(coll.id_tache).description}}</td>
                        <td>{{getTachebyIdColl(coll.id_tache).date_debut}}</td>
                        <td>{{getTachebyIdColl(coll.id_tache).date_fin}}</td>
                        <td>
                            <ng-container *ngIf="getTachebyIdColl(coll.id_tache).completed; else elseBlock">
                              <!-- Icon to display when the condition is true -->
                              <i class="bi bi-check-circle-fill"></i>
                            </ng-container>
                            <ng-template #elseBlock>
                              <!-- Icon to display when the condition is false -->
                              <i class="bi bi-alarm-fill"></i>
                            </ng-template>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')"><button routerLink="/admin/updatecollaborateur/{{ coll.id }}" class='btn btn-primary'><i class="bi bi-arrow-counterclockwise"></i></button></td>
                        <td *ngIf="authService.hasRole('ADMIN')"><button (click)="DeleteCollaborateur(coll)" class='btn btn-danger'><i class="bi bi-trash3-fill"></i></button></td>
                    </tr>
                </tbody>
            </table>
        
  
</div>

