<h2 class='mt-4' style="font-weight:bold;text-align: center; "><i class="bi bi-clipboard-plus"></i> Update Task</h2>
<form  (ngSubmit)="updateTache()" [formGroup]="tacheupForm" class='mt-5' style="margin-left: 450px;margin-right: 450px ;">
    <div class="mb-3">
        <input type="text" class="form-control" formControlName="description" placeholder='description' />
    </div>
    <div class="mb-3">
        <label class="form-label" style="font-weight: bold;">Date Debut</label>
        <input type="text" class="form-control" formControlName="date_debut"  placeholder="DD-MM-YYYY" />
    </div>
    <div class="mb-3">
        <label class="form-label" style="font-weight: bold;">Date Fin</label>
        <input type="text" class="form-control" formControlName="date_fin"  placeholder="DD-MM-YYYY" />
    </div>
    <div class="mb-3 form-check">
        <label class="form-label" style="font-weight: bold;">Checked</label>
        <input type="checkbox" class="form-check-input" formControlName="completed">
    </div>
    <Button  class="btn btn-primary">Update</Button>
</form>





