<h2 class='mt-4' style="font-weight:bold;text-align: center; "><i class="bi bi-card-list"></i> Update Collaborateur</h2>
<form [formGroup]="collupForm" (ngSubmit)="updateCollaborateur()" class='mt-5' style="margin-left: 190px;margin-right: 190px ;">
    <div class="mb-3">
        <input type="text" class="form-control" placeholder='Full Name' formControlName="name" />
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" placeholder='Email Address' formControlName="email"/>
    </div>
    <div class="mb-3">
        <select class="form-control" formControlName="id_tache">
            <option *ngFor="let tache of taches" [value]="tache.id">{{ tache.description }}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="collupForm.invalid">Update</button>
</form>




